.btn {
    width: 220px;
    padding: 5px 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    min-height: 56px;
}

.btn--blue-04 {
    color: $white;
    background: $blue-04;
    box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
}