.btn {
    width: 220px;
    padding: 5px 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    min-height: 56px;
}

.btn-learn-more {
    width: 127px;
    padding: 5px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    min-height: 30px;
    & .svg-placeholder {
        display: flex;
        align-items: center;
    }
}

.btn--blue-04 {
    color: $white;
    background: $blue-04;
    box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
}