h1 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    font-size: 56px;
    @include lh(74, 56);
    letter-spacing: 0.04em;
    color: $blue-01;
}

h2 {
    font-family: 'Gilroy Semibold';
    font-weight: 600;
    font-size: 36px;
    @include lh(46, 36);
    color: $blue-02;
}

h4 {
    font-family: 'Gilroy Semibold';
    font-weight: 600;
    font-size: 20px;
    @include lh(30, 20);
    color: $blue-01;
}