@media (max-width: 1800px) {
    .hero__illustration {
        right: 17px;
    }
}

@media (max-width: 1440px) {
    .hero__illustration {
        transform: scale(0.9);
        bottom: 15%;
    }
}

@media (max-width: 1300px) {
    .hero__illustration {
        transform: scale(0.75);
    }
}

@media (max-width: 1024px) {
    .hero__body {
        padding: 149px 0px 150px 0px;
    }
    #whatwedo {
        padding: 100px 0;
    }
    #project {
        padding: 0px 0px 100px 0px;
    }
    .ourclient {
        border-radius: 100px 0px 0px 0px;
    }
    .footer {
        &::after {
            border-radius: 0px 100px 0px 0px;
        }
    }
}

@media (max-width: 992px) {
    .hero__body {
        margin: 0 auto;
        padding: 149px 0px 500px 0px;
    }
    .hero__illustration {
        transform: scale(0.7);
        bottom: 3%;
    }
    .whatwedo__cards .card:nth-child(2) {
        left: 0;
    }
    .heading__block {
        & h2 {
            margin: 0px 33px 0px 0px;
        }
    }
}

@media (max-width: 860px) {
    .card {
        max-width: 360px;
    }
    .ourclient {
        &__list {
            grid-template: repeat(4, 128px) / repeat(2, 1fr);
        }
    }
}

@media (max-width: 768px) {
    h1 {
        font-size: 42px;
    }
    h2 {
        font-size: 32px;
    }
    .header {
        padding: 20px 0px 0px 0px;
    }
    .hero__body {
        padding: 120px 0px 450px 0px;
    }
    .hero__body p {
        margin: 0px 0px 45px 0px;
    }
    .hero__illustration {
        transform: scale(0.6);
    }
    .hero__title {
        margin: 0px 0px 22px 0px;
    }
    #whatwedo {
        padding: 60px 0;
    }
    #project {
        padding: 0px 0px 60px 0px;
    }
    .whatwedo {
        &__title {
            max-width: 358px;
            position: static;
            margin: 0px 0px 60px 0px;
        }
        &__cards {
            align-items: center;
            justify-content: center;
            height: auto;
            &>*:not(:last-child) {
                margin: 0px 0px 30px 0px;
            }
            & .card:nth-child(2) {
                position: static;
                align-self: auto;
            }
        }
    }
    .card {
        max-width: 380px;
    }
    .item-card {
        &__images {
            margin: 0px 0px 36px 0px;
        }
        &__title {
            margin: 0px 0px 12px 0px;
        }
        & p {
            margin: 0px 0px 22px 0px;
        }
    }
    .heading__block {
        margin: 0px 0px 60px 0px;
        & p {
            max-width: 400px;
        }
    }
    .project__cards-row>*:not(:last-child) {
        margin: 0px 0px 60px 0px;
    }
    .item-project-main-card,
    .item-project-card {
        &__name {
            font-size: 24px;
        }
    }
    .item-project-card {
        height: 300px;
    }
    .ourclient {
        padding: 60px 0px 0px 0px;
    }
    .footer {
        &::after {
            width: 100%;
            border-radius: 0px 0px 0px 0px;
        }
    }
}

@media (max-width: 644px) {
    .project__cards-other {
        flex-direction: column;
    }
    .item-project-main-card {
        & .svg-placeholder {
            transform: scale(0.9);
            bottom: -56px;
            left: -43px;
        }
    }
}

@media (max-width: 480px) {
    .header__menu {
        width: 100%;
        border-radius: 0;
    }
    .hero__body {
        padding: 100px 0px 400px 0px;
    }
    .hero__illustration {
        transform: scale(0.5);
    }
}

@media (max-width: 425px) {
    h1 {
        font-size: 36px;
    }
    h2 {
        font-size: 26px;
    }
    h4 {
        font-size: 18px;
    }
    .hero__body {
        padding: 100px 0px 320px 0px;
    }
    .hero__body p {
        margin: 0px 0px 35px 0px;
    }
    .hero__title {
        margin: 0px 0px 16px 0px;
    }
    .hero__button {
        width: 100%;
    }
    .hero__illustration {
        transform: scale(0.42);
    }
    #whatwedo {
        padding: 40px 0;
    }
    #project {
        padding: 0px 0px 40px 0px;
    }
    .whatwedo {
        &__title {
            margin: 0px 0px 40px 0px;
        }
        &__cards {
            & .card {
                & .item-card__images .svg-placeholder {
                    width: 200px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                & .item-card__images .svg-placeholder object {
                    transform: scale(0.8);
                }
            }
        }
    }
    .card {
        max-width: 380px;
    }
    .item-card {
        padding: 36px;
        &__images {
            margin: 0px 0px 26px 0px;
        }
        & p {
            margin: 0px 0px 16px 0px;
        }
    }
    .heading__block {
        margin: 0px 0px 40px 0px;
        flex-direction: column;
        & h2 {
            margin: 0px 0px 20px 0px;
        }
    }
    .project__cards-row>*:not(:last-child) {
        margin: 0px 0px 40px 0px;
    }
    .item-project-main-card {
        height: 380px;
        &__content {
            right: 18px;
            top: 18px;
        }
        & .svg-placeholder {
            transform: scale(0.7);
            bottom: -86px;
            left: -73px;
        }
    }
    .ourclient {
        &__list {
            grid-template: auto / 1fr;
        }
    }
}