/* ----------------ALL-ARTICLE------------------------------------------------- */

.all-article {
    padding: 0px 0px 96px 0px;
    &__row {
        margin: 0px 0px -32px 0px;
    }
    &__column {
        margin: 0px 0px 32px 0px;
    }
    &__pages {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.item-all-article {
    display: flex;
    gap: 19px;
    &__image {
        flex: 0 1 32%;
    }
    &__content {
        flex: 0 1 68%;
        max-width: 540px;
        & h6 {
            margin: 0px 0px 16px 0px;
        }
        & p {
            margin: 0px 0px 14px 0px;
        }
    }
    &__info {
        & p {
            margin: 4px 0px 0px 0px;
        }
    }
}

.pages-all-article {
    padding: 56px 0px 0px 0px;
    &__new,
    &__old {
        position: relative;
        font-family: 'Gilroy Semibold';
        font-size: 16px;
        @include lh(20, 16);
        letter-spacing: 0.04em;
        color: $blue-03;
        transition: all 0.3s ease-in-out;
        &:hover {
            color: rgb(255, 0, 0);
            opacity: 0.6;
        }
        &::after {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            background-size: 17%;
        }
    }
    &__new {
        padding-left: 34px;
        &::after {
            background-image: url('../images/icon-arrow.svg');
            background-position: right center;
            transform: rotate(180deg);
        }
    }
    &__old {
        padding-right: 34px;
        &::after {
            background-image: url('../images/icon-arrow.svg');
            background-position: right center;
        }
    }
}