.illustration__platform 
	+icon('icon-platform-hero')
.illustration__man 
	+icon('icon-man-hero')
.illustration__woman 
	+icon('icon-woman-hero')
.illustration__smart-home 
	.smart-home__lock 
		+icon('icon-lock')
	.smart-home__snowflake 
		+icon('icon-snowflake')
	.smart-home__camera 
		+icon('icon-camera')
	.smart-home__lamp 
		+icon('icon-lamp')
	.smart-home__home
		+icon('icon-home')
.illustration__illustration-bg 
	+icon('icon-ilustration-hero')
.illustration__shadown-illustration
	+icon('icon-shadown-illustration-hero')