extends pug/layout/_head

block content
	.wrapper 
	
		include pug/layout/_header

		main.main

			+genPageHeading('Blog Afrianska', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.')

		include pug/layout/_footer