extends pug/layout/_head

block content
	.wrapper 
	
		include pug/layout/_header

		main.main

			+genPageHeading('Blog Afrianska', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.')

			+genSearch('Search Article')

			section.popular-article#popular-article
				.popular-article__container._container
					.popular-article__body 
						.popular-article__title.title Popular
						.popular-article__row

		include pug/layout/_footer